html {
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/**
 * Main table-layout: 
 */

 .site-header {
  background: rgb(154, 10, 147);
  z-index: 3;
}

@media screen and (min-width: 48em) {
  .site-header {
  }
}
.site-branding {

}
.site-branding h1, .site-branding .activate, .site-branding .site-nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-top:20px;
  padding-bottom:20px;
}

.site-branding h1 {
  /*background: red*/
}

.site-branding h1 a, .site-branding h1 img {
  display: block;
  width: 100%;
}
.site-nav {
  list-style-type: none;
  padding: 0;
  height: 34px;
  line-height: 34px;
}
.site-nav li {
  list-style: none;
  float: left;
  height: 34px;
  line-height: 34px;
}
.site-nav a {
  position: relative;
  display: block;
  padding: 9px 12px 0;
  height: 34px;
  line-height: 34px;
}

.site-nav a:link, .site-nav a:visited {
  color: #fff;
  font-size: 12px;
  font-weight: bold; 
}

.site-footer {
  background: #444;
}

.frontpage--hero {
  padding: 6em;
  background: #e1e1e1;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .frontpage--hero {
    margin-top: 74px;
  }
}
.acf-map {
  height: 400px;
}

.btn-activate {
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #fff;
  color: #fff;
  background: transparent;
  font-weight: bold;
}

.btn-activate:hover {
  color: rgb(154, 10, 147);;
  background: #fff;
}

.hero {
  min-height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
.hero {
  position: relative;
  text-align: center;
}
.hero .row {
  background: rgba(0,0,0,0.3);
  min-height: 80vh;
}
.hero h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 6em;
}
.entry-content {
  padding-top: 40px;
}
.entry-content p {
  font-size: 1.125em;
  margin-bottom: 1.5em;
}
.entry-content p.intro {
  font-size: 1.25em;
}
.entry-content h3 + p,
.entry-content h2 + p,
.entry-content p + p,
.entry-content ul + p,
.entry-content ol + p,
.entry-content h3 + ul,
.entry-content h2 + ul,
.entry-content p + ul,
.entry-content ul + ul,
.entry-content ol + ul {
  margin-top:0.5em;
}

.entry-content ul {
  margin: -0.5em 0 1.5em;
}
.entry-content li {
  line-height: 1.4;
  margin-bottom: 1em;
}

.pricingTable {
  list-style: none;
  text-align: center;
}
.odd, .even {
  padding: 2em 0;
}

.even {
  background-color: #eee;
}
.section-title {
  margin-top: 0;
  margin-bottom: 1em;
}
.table>tbody>tr>td {
  vertical-align: middle;
}

.hero h1>small {
  display: block;
  color: #fff;
}

.feature-block {
  margin-bottom: 20px
}
