/****
 *
 * WordPress styles 
 *
 **/

 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
  content: "";
 }

 blockquote,
 q {
  quotes: "" "";
 }

 hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
 }

 ul,
 ol {
  margin: 0 0 1.5em 3em;
 }

 ul {
  list-style: disc;
 }

 ol {
  list-style: decimal;
 }

 li > ul,
 li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
 }

 dt {
  font-weight: bold;
 }

 dd {
  margin: 0 1.5em 1.5em;
 }

 img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
 }

 table {
  margin: 0 0 1.5em;
  width: 100%;
 }

 /*--------------------------------------------------------------
 4.0 Forms
 --------------------------------------------------------------*/
 button,
 input[type="button"],
 input[type="reset"],
 input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, .8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
 }

 button:hover,
 input[type="button"]:hover,
 input[type="reset"]:hover,
 input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
 }

 button:focus,
 input[type="button"]:focus,
 input[type="reset"]:focus,
 input[type="submit"]:focus,
 button:active,
 input[type="button"]:active,
 input[type="reset"]:active,
 input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
 }

 input[type="text"],
 input[type="email"],
 input[type="url"],
 input[type="password"],
 input[type="search"],
 textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
 }

 input[type="text"]:focus,
 input[type="email"]:focus,
 input[type="url"]:focus,
 input[type="password"]:focus,
 input[type="search"]:focus,
 textarea:focus {
  color: #111;
 }

 input[type="text"],
 input[type="email"],
 input[type="url"],
 input[type="password"],
 input[type="search"] {
  padding: 3px;
 }

 textarea {
  padding-left: 3px;
  width: 100%;
 }

 /*--------------------------------------------------------------
 5.0 Navigation
 --------------------------------------------------------------*/
 /*--------------------------------------------------------------
 5.1 Links
 --------------------------------------------------------------*/
 a {
  color: royalblue;
 }

 a:visited {
  color: purple;
 }

 a:hover,
 a:focus,
 a:active {
  color: midnightblue;
 }

 a:focus {
  outline: thin dotted;
 }

 a:hover,
 a:active {
  outline: 0;
 }

 /*--------------------------------------------------------------
 5.2 Menus
 --------------------------------------------------------------*/
 .main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
 }

 .main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
 }

 .main-navigation li {
  float: left;
  position: relative;
 }

 .main-navigation a {
  display: block;
  text-decoration: none;
 }

 .main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
 }

 .main-navigation ul ul ul {
  left: -999em;
  top: 0;
 }

 .main-navigation ul ul a {
  width: 200px;
 }

 .main-navigation ul ul li {

 }

 .main-navigation li:hover > a {
 }

 .main-navigation ul ul :hover > a {
 }

 .main-navigation ul ul a:hover {
 }

 .main-navigation ul li:hover > ul {
  left: auto;
 }

 .main-navigation ul ul li:hover > ul {
  left: 100%;
 }

 .main-navigation .current_page_item > a,
 .main-navigation .current-menu-item > a,
 .main-navigation .current_page_ancestor > a {
 }

 /* Small menu. */
 .menu-toggle {
  display: none;
 }

 @media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
 }

 .site-main .comment-navigation,
 .site-main .posts-navigation,
 .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
 }

 .comment-navigation .nav-previous,
 .posts-navigation .nav-previous,
 .post-navigation .nav-previous {
  float: left;
  width: 50%;
 }

 .comment-navigation .nav-next,
 .posts-navigation .nav-next,
 .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
 }

 /*--------------------------------------------------------------
 6.0 Accessibility
 --------------------------------------------------------------*/
 /* Text meant only for screen readers. */
 .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
 }

 .screen-reader-text:hover,
 .screen-reader-text:active,
 .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
 }

 /*--------------------------------------------------------------
 7.0 Alignments
 --------------------------------------------------------------*/
 .alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
 }

 .alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
 }

 .aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 /*--------------------------------------------------------------
 8.0 Clearings
 --------------------------------------------------------------*/
 .clear:before,
 .clear:after,
 .entry-content:before,
 .entry-content:after,
 .comment-content:before,
 .comment-content:after,
 .site-header:before,
 .site-header:after,
 .site-content:before,
 .site-content:after,
 .site-footer:before,
 .site-footer:after {
  content: "";
  display: table;
 }

 .clear:after,
 .entry-content:after,
 .comment-content:after,
 .site-header:after,
 .site-content:after,
 .site-footer:after {
  clear: both;
 }

 /*--------------------------------------------------------------
 9.0 Widgets
 --------------------------------------------------------------*/
 .widget {
  margin: 0 0 1.5em;
 }

 /* Make sure select elements fit in widgets. */
 .widget select {
  max-width: 100%;
 }

 /* Search widget. */
 .widget_search .search-submit {
  display: none;
 }

 /*--------------------------------------------------------------
 10.0 Content
 --------------------------------------------------------------*/
 /*--------------------------------------------------------------
 10.1 Posts and pages
 --------------------------------------------------------------*/
 .sticky {
  display: block;
 }

 .hentry {
  margin: 0 0 1.5em;
 }

 .byline,
 .updated:not(.published) {
  display: none;
 }

 .single .byline,
 .group-blog .byline {
  display: inline;
 }

 .page-content,
 .entry-content,
 .entry-summary {
  margin: 1.5em 0 0;
 }

 .page-links {
  clear: both;
  margin: 0 0 1.5em;
 }

 /*--------------------------------------------------------------
 10.2 Asides
 --------------------------------------------------------------*/
 .blog .format-aside .entry-title,
 .archive .format-aside .entry-title {
  display: none;
 }

 /*--------------------------------------------------------------
 10.3 Comments
 --------------------------------------------------------------*/
 .comment-content a {
  word-wrap: break-word;
 }

 .bypostauthor {
  display: block;
 }

 /*--------------------------------------------------------------
 11.0 Infinite scroll
 --------------------------------------------------------------*/
 /* Globally hidden elements when Infinite Scroll is supported and in use. */
 .infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
 .infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
 }

 /* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
 .infinity-end.neverending .site-footer {
  display: block;
 }

 /*--------------------------------------------------------------
 12.0 Media
 --------------------------------------------------------------*/
 .page-content .wp-smiley,
 .entry-content .wp-smiley,
 .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
 }

 /* Make sure embeds and iframes fit their containers. */
 embed,
 iframe,
 object {
  max-width: 100%;
 }

 /*--------------------------------------------------------------
 12.1 Captions
 --------------------------------------------------------------*/
 .wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
 }

 .wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
 }

 .wp-caption-text {
  text-align: center;
 }

 .wp-caption .wp-caption-text {
  margin: 0.8075em 0;
 }

 /*--------------------------------------------------------------
 12.2 Galleries
 --------------------------------------------------------------*/
 .gallery {
  margin-bottom: 1.5em;
 }

 .gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
 }

 .gallery-columns-2 .gallery-item {
  max-width: 50%;
 }

 .gallery-columns-3 .gallery-item {
  max-width: 33.33%;
 }

 .gallery-columns-4 .gallery-item {
  max-width: 25%;
 }

 .gallery-columns-5 .gallery-item {
  max-width: 20%;
 }

 .gallery-columns-6 .gallery-item {
  max-width: 16.66%;
 }

 .gallery-columns-7 .gallery-item {
  max-width: 14.28%;
 }

 .gallery-columns-8 .gallery-item {
  max-width: 12.5%;
 }

 .gallery-columns-9 .gallery-item {
  max-width: 11.11%;
 }

 .gallery-caption {
  display: block;
 }
